<h1 class="title">Cafe Jolt</h1>

<% @menu["menu_items"].each do |item| %>
  
  <p><%= item["name"] %></p>
  <p><%= item["description"] %></p>
  <p><%= item["stock_level"] %> left</p>
  <%= button_to "Add 1 to order list", {:controller => "orders", :action => "create", :item_id => item["id"] }, :method => :post, class: "button" %>
  
  <br />

<% end %>

<%= unless @menu.dig("_links", "prev").nil?
  link_to "Previous", more_items_url(:next_url => @menu.dig("_links", "prev", "href")) 
end %>
<%= unless @menu.dig("_links", "next").nil?
  link_to "Next", more_items_url(:next_url => @menu.dig("_links", "next", "href")) 
end %>

<%= link_to "Confirm orders", :controller => "cart" %>
