<h1 class="title">Cafe Jolt</h1>
<% session[:cart] = [] %>

<% @menu["menu_items"].each do |item| %>

  <p><%= item["name"] %></p>
  <p><%= item["description"] %></p>
  <p><%= item["stock_level"] %> left</p>
  <%= button_to "Add 1 to order list", {:action => "create", :item_id => item["id"] }, :method => :post, class: "button" %>

  <br />

<% end %>

<div class="columns text-centered" >
  <div class="column">
    <%= link_to_unless(
      @menu.dig("_links", "prev").nil?, 
      "Previous", 
      more_items_url(:next_url => @menu.dig("_links", "prev", "href")) 
    ) %>
  </div>
  <div class="column">
    <%= link_to_unless(
      @menu.dig("_links", "next").nil?,
      "Next",
      more_items_url(:next_url => @menu.dig("_links", "next", "href")),
    )%>
  </div>
</div>

<div class="columns is-centered text-centered">
  <div class="column is-half is-narrow">
    <%= link_to "Confirm orders", :controller => "cart" %>
  </div>
</div>