<h1 class="title">Cafe Jolt</h1>
<% session[:cart] = [] %>

<% @menu["menu_items"].each do |item| %>

  <p><%= item["name"] %></p>
  <p><%= item["description"] %></p>
  <p><%= item["stock_level"] %> left</p>
  <%= button_to "Add 1 to order list", {:action => "create", :item_id => item["id"] }, :method => :post %>

  <br />

<% end %>

<%= link_to "Next", more_items_url(:next_url => @menu.dig("_links", "next", "href")) %>