<h1>Cafe Jolt</h1>

<% @menu.each do |item| %>
  <p><%= item["name"] %></p>
  <p><%= item["description"] %></p>
  <p><%= item["stock_level"] %> left</p>

    
  <%= form_for :orders, url: orders_path do |f| %>
    <%= f.submit "Create" %>
  <% end %>

  <%= form_with scope: :orders, url: orders_path, local: true do |form| %>
    <p>
      <%= form.label :number %>
      <%= form.text_field :number %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <br />
<% end %>